body,
html {
  height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: inherit;
  resize: vertical;
}

input[type="submit"] {
  cursor: pointer;
  font-weight: bold;
  padding: 12px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.analysis-results,
.paraphrases {
  margin-top: 20px;
}

.results-header {
  margin-top: 20px;
  color: #444;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f8f9fa;
  margin-top: 8px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dee2e6;
}

footer {
  width: 100%;
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e7e7e7;
}
